EXPO_PUBLIC_SUPABASE_URL=https://apwctexznbuyxemuwbbj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_d6feCB1J6kWpEsrbDEf0DA_KKIaDE99
EXPO_PUBLIC_ASSISTANCE_PHONE=+491234567890
EXPO_PUBLIC_MEDICAL_PHONE=+491234567890
